<div class="row">
	<div class="col-md-4 col-md-offset-1 text-center">
		<%= gravatar_for @user, size: 250 %>
		<h5><em>Zdjęcie pobrane z serwisu Gravatar.</em></h5>
	</div>
	<div class="col-md-6">
		<h1><%= @profile.name %> <%= @profile.surname %></h1>
		<h4 class="h4_show">
			W Filmotece od: <%= @user.created_at.strftime("%d.%m.%Y") %><br>
			Ulubiony film: <%= @profile.favorite %></h4>
		<p><b>O użytkowniku:</b></p>
		<p><%= @profile.bio %></p>
		<%= link_to 'Usuń', destroy_user_path(@user), method: :delete, class: 'btn btn-danger btn_show' if admin? %>	
		<%= link_to 'Edytuj', edit_user_profile_path(@user), class: 'btn btn-info btn_show' %>
		<%= link_to 'Powrót', root_path, class: 'btn btn-default btn_show' %>
	</div>
	<div class="col-md-12">
		<h4 class="h4_show">Komentarze użytkownika:</h4><hr>
	</div>
	<%= will_paginate @user_com, previous_label: t('Poprzednia'), next_label: t('Następna') %>
	<% @user_com.each do |comment| %>
		<div class="row">
			<div class="col-md-2 text-center">
				<%= image_tag "#{comment.commentable.photo_url}", class: 'img_user_show' %><br>
			</div>
			<div class="col-md-8 comment">  
				<h3><%= link_to comment.commentable_type == "Movie" ? comment.commentable.title : comment.commentable.name, polymorphic_path(comment.commentable) %></h3>
				<p class="btn_show"><%= comment.content %></p>
				<% if comment.user == current_user || admin? %>
				<p class="btn_com"><%= link_to 'Edytuj', edit_polymorphic_path([comment.commentable, comment]) %>
				<%= link_to 'Usuń', polymorphic_path([comment.commentable, comment]), method: :delete %></p>
				<% end %><br>
			</div>
			<div class="col-md-1 text-center">
				<h3><%= comment.grade %>/10</h3>
			</div>
		</div><br>
	<% end %>
	<%= will_paginate @user_com, previous_label: t('Poprzednia'), next_label: t('Następna') %>
</div>

