<div class="row">
	<h1 class="text-center">Dowiedz się więcej o interesującym cię <%= params[:show] ? 'Serialu' : 'Filmie' %>.</h1>
	<hr>
	<p>Wyszukaj po tytule lub reżyserze.</p>
	<form role="search">
		<div class="form-group">
			<% if params[:show] %>
				<input type="hidden" value="true" name="show">
			<% end %>
			<input type="text" class="form-control" value='<%= params[:keyword] %>' name="keyword" placeholder="Szukaj">
		</div>
		<button type="submit" class="btn btn-default">Szukaj</button>
		<%= link_to 'Nowy', new_movie_path, class: 'btn btn-primary' if admin? %>		
	</form>

	<hr>
	<%= will_paginate @movies, previous_label: t('Poprzednia'), next_label: t('Następna') %>
	<% @movies.each do |m| %>
		<ul class="list-unstyled">
		<div class="row">
			<div class="col-sm-3 text-center">
			<%= link_to m do %>
				<%= image_tag "#{m.photo_url}", class: 'img_index' %>
			<% end %>  
			</div>
			<div class="col-md-9">
				<%= link_to m do %>
					<h2><%= m.title %></h2>
				<% end %>
				<h3 class="text_grey"><%= m.year %><br>
				<%= m.director.name %></h3>
			</div>
		</div>
		</ul>
	<% end %>
	<%= will_paginate @movies, previous_label: t('Poprzednia'), next_label: t('Następna') %>
</div>
