<div class="row">
	<div class="col-md-5 text-center">
		<%= image_tag "#{@movie.photo_url}", class: 'img_show' %>
	</div>
	<div class="col-md-7">
		<h1><%= @movie.title %></h1>
		<h4 class="h4_show">Gatunek: <%= @movie.show ? 'Serial' : 'Film' %><br>
		Rok produkcji: <%= @movie.year %><br>
		Reżyser: <%= link_to @movie.director.name, director_path(@movie.director) %></h4><br><br>
		<h3>Średnia ocena: <%= @movie.overal_score %>/10</h3>
	</div>
	<div class="col-md-12">
		<p class="text-justify btn_show"><%= @movie.review %></p>
		<% if admin? %>
			<%= link_to 'Usuń', movie_path(@movie), method: :delete, data: { confirm: "Jesteś pewien?" }, class: 'btn btn-danger btn_show' %>	
			<%= link_to 'Edytuj', edit_movie_path(@movie), class: 'btn btn-info btn_show' %>
		<% end %>
		<%= link_to 'Powrót', @movie.show ? movies_path(show: true) : movies_path, class: 'btn btn-default btn_show' %>
		<br>
		<% if logged_in? && @movie.users.exclude?(current_user) %>
			<h4>Podziel się z innymi swoją opinią <%= link_to 'Nowy komentarz', new_movie_comment_path(@movie), class: 'btn btn-primary' %></h4>
		<% end %>
		<hr><h4>Recenzje użytkowników (<%= @movie.comments_count %>):</h4><br>
	</div>

	<% @movie.comments.each do |comment| %>
		<div class="row">
			<div class="col-md-1 col-md-offset-1 text-center">
				<%= gravatar_for comment.user, size: 75 %>
				<h5><%= link_to comment.user.name, user_profile_path(comment.user) %></h5><br>
			</div>
			<div class="col-md-8 comment"> 
				<p class="btn_show"><%= comment.content %></p><br>
				<% if comment.user == current_user || admin? %>
					<p class="btn_com"><%= link_to 'Edytuj', edit_polymorphic_path([comment.commentable, comment]) %>
					<%= link_to 'Usuń', polymorphic_path([comment.commentable, comment]), method: :delete, data: { confirm: "Jesteś pewien?" } %></p>
				<% end %>
				<div class="pull-left">
					<%= link_to polymorphic_path([comment.commentable, comment], action: :like, like: true), method: :post do %>
						<i class="glyphicon glyphicon-thumbs-up"></i>&nbsp <%= comment.thumbs_up_total %>
					<% end %>&nbsp
					<%= link_to polymorphic_path([comment.commentable, comment], action: :like, like: false), method: :post do %>
						<i class="glyphicon glyphicon-thumbs-down"></i>&nbsp <%= comment.thumbs_down_total %>
					<% end %>
				</div><br>
			</div>
			<div class="col-md-1 text-center">
				<h3><%= comment.grade %>/10</h3>
			</div>
		</div>
	<% end %>
</div>


