<div class="row">
	<div class="col-md-4 col-md-offset-1 text-center">
		<%= image_tag @director.photo_url, class: 'dir_show' %>
	</div>
	<div class="col-md-6">
		<h1><%= @director.name %></h1>
		<h4 class="h4_show">Data urodzenia: <%= @director.birth %></h4>
		<h3>Średnia ocena: <%= @director.director_score %> </h3>
	</div>
	<div class="col-md-12">
		<p class="text-justify btn_show"><%= @director.bio %></p> 
		<% if admin? %>
			<%= link_to 'Usuń', director_path(@director), method: :delete, data: { confirm: "Jesteś pewien?" }, class: 'btn btn-danger btn_show' %>	
			<%= link_to 'Edytuj', edit_director_path(@director), class: 'btn btn-info btn_show' %>
		<% end %>
		<%= link_to 'Powrót', directors_path, class: 'btn btn-default btn_show' %>
	<br><br>
	<% if logged_in? && @director.users.exclude?(current_user) %>
		<h4>Podziel się z innymi swoją opinią <%= link_to 'Nowy komentarz', new_director_comment_path(@director), class: 'btn btn-primary' %></h4>
	<% end %>
	</div>
	<div class="col-md-12">
		<h4>Komentarze użytkowników:</h4><hr>
	</div>
	<% @director.comments.each do |comment| %>
		<div class="row">
			<div class="col-md-1 col-md-offset-1 text-center">
				<%= gravatar_for comment.user, size: 75 %>
				<h5><%= link_to comment.user.name, user_profile_path(comment.user) %></h5><br>
			</div>
			<div class="col-md-8 comment"> 
				<p class="btn_show"><%= comment.content %></p><br>
				<% if comment.user == current_user || admin? %>
					<p class="btn_com"><%= link_to 'Edytuj', edit_polymorphic_path([comment.commentable, comment]) %>
					<%= link_to 'Usuń', polymorphic_path([comment.commentable, comment]), method: :delete, data: { confirm: "Jesteś pewien?" } %></p>
				<% end %>
				<div class="pull-left">
					<%= link_to polymorphic_path([comment.commentable, comment], action: :like, like: true), method: :post do %>
						<i class="glyphicon glyphicon-thumbs-up"></i>&nbsp <%= comment.thumbs_up_total %>
					<% end %>&nbsp
					<%= link_to polymorphic_path([comment.commentable, comment], action: :like, like: false), method: :post do %>
						<i class="glyphicon glyphicon-thumbs-down"></i>&nbsp <%= comment.thumbs_down_total %>
					<% end %>
				</div><br>
			</div>
			<div class="col-md-1 text-center">
				<h3><%= comment.grade %>/10</h3>
			</div>
		</div>
	<% end %>
</div>

