<%= render 'shared/errors', obj: @user %>
<div class="row">
	<div class="col-md-8 col-md-offset-2 well">
		<%= form_for @user do |f| %>
			<%= f.label 'Nazwa użytkownika' %>
			<%= f.text_field :name %>

			<%= f.label :email %>
			<%= f.text_field :email %>

			<%= f.label 'Hasło' %>
			<%= f.password_field :password %>

			<%= f.submit 'Zapisz', class: 'btn btn-success' %>
			<%= link_to 'Powrót', :back, class: 'btn btn-default uneditable-input' %>
		<% end %>
	</div>
</div>