<div class="row">
	<div class="col-md-4 col-md-offset-1 text-center">
		<%= gravatar_for @user, size: 250 %>
		<h5><em>Zdjęcie pobrane z serwisu Gravatar.</em></h5>
	</div>
	<div class="col-md-6">
		<h1><%= @user.name %></h1>
		<h4 class="h4_show">Email: <%= @user.email %><br>
		W Kinotece od: <%= @user.created_at.strftime("%d.%m.%Y") %></h4>
		<%= link_to 'Usuń', destroy_user_path(@user), method: :delete, class: 'btn btn-danger btn_show' if admin? %>	
		<%= link_to 'Edytuj', edit_user_path(@user), class: 'btn btn-info btn_show' %>
		<%= link_to 'Powrót', root_path, class: 'btn btn-default btn_show' %>
	</div>
	<div class="col-md-12">
		<h4 class="h4_show">Komentarze użytkownika:</h4><hr>
	</div>
	<%= will_paginate @user_com, previous_label: t('Poprzednia'), next_label: t('Następna') %>
	<% @user_com.each do |comment| %>
		<div class="row">
			<div class="col-md-2 text-center">
				<%= image_tag "#{comment.movie.amazon_id}", class: 'img_user_show' %><br>
			</div>
			<div class="col-md-8 comment"> 
				<h3><%= comment.movie.title %></h3>
				<p class="btn_show"><%= comment.content %></p>
				<% if comment.user == current_user || admin? %>
				<p class="btn_com"><%= link_to 'Edytuj', "/movies/#{comment.movie.id}/comments/#{comment.id}/edit" %>
				<%= link_to 'Usuń', "/movies/#{comment.movie.id}/comments/#{comment.id}", method: :delete %></p>
				<% end %><br>
			</div>
			<div class="col-md-2">
				<h3><%= comment.movie_grade %>/10</h3>
			</div>
		</div><br>
	<% end %>
	<%= will_paginate @user_com, previous_label: t('Poprzednia'), next_label: t('Następna') %>
</div>
