<div class="row">
	<h1 class="text-center">Sprawdź, które pozycje w naszej bazie cieszą się największym uznaniem użytkowników w poniższym TOP10.</h1>

	<ul class="nav nav-tabs">
	<li class='active'>
	  <%= link_to "Filmy", movies_ranking_path %>
	</li>
	<li>
	  <%= link_to "Seriale", shows_ranking_path %>
	</li>
	</ul>
<br>
	<% @movies.each do |m| %>
		<ul class="list-unstyled">
		<div class="row">
			<div class="col-sm-2 text-center">
			<%= link_to m do %>
				<%= image_tag "#{m.photo_url}", class: 'img_rank' %>
			<% end %>  
			</div>
			<div class="col-md-8">
				<%= link_to m do %>
					<h2><%= m.title %></h2>
				<% end %>
				<h3 class="text_grey">
				<%= m.director.name %></h3>
			</div>
			<div class="col-md-2">
				<h3><%= m.overal_score %>/10</h3>
			</div>
		</div>
		</ul>
	<% end %>
</div>